@tailwind base;
@tailwind components;
@tailwind utilities;

/* nav styles */
nav {
  @apply
    pb-4
    border-b-2 border-gray-200
    flex items-center gap-5 
    my-2 mx-auto 
    max-w-5xl;
}
nav a {
  @apply text-gray-500;
}
nav a:hover {
  @apply text-black;
}

#comp1 {
  background: rgba(246, 186, 144, 0.904)
}
.landing {
  align-items: center;
  width: 50%;
}
.box {
  @apply
  border-2
  block max-w-sm p-6 border border-gray-200 rounded-lg shadow
}
.button {
  @apply
  flex
  gap-5
}

#comp2 {
  background-color: rgb(24, 23, 23);
  @apply pb-5
  text-white
}
.comp2-header {
  @apply
  border-b-2 border-red-200
  text-white
}
#comp2 section {
  word-wrap: break-word;
  @apply
  border-2 border-red-200
}
#comp3 {
  background-color: rgba(204, 229, 221, 0.877);
  @apply p-8
}
#comp3 div {
  @apply
  border-2 border-black
  items-center
}


#comp4 {
  background-color: rgba(239, 167, 239, 0.473);
}